<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <a class="navbar-brand" routerLink="/">
    <img alt="logo" src="https://www.soaring.dev/img/SD-NEW-Logo-update.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav nav-side-bar ml-auto mt-2 mt-lg-0">
      <!-- <ng-container *ngFor='let page of pages?.value'>
        <li class="nav-item" *ngIf="page.slug !== 'home'">
          <a class="nav-link" routerLink="{{page.slug}}">{{page.title}}</a>
        </li>
      </ng-container> -->
      <ng-container *ngFor='let menu of menus?.value'>
        <!-- <li class="nav-item dropdown" *ngIf="menu.menuName !== 'home'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{menu.menuName}}</a>
        </li> -->
        <li *ngIf="menu.menuName !== 'home'">
          <a class="nav-link dropdown-toggle font-weight-bold" routerLink="{{menu.menuName}}" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{menu.menuName | uppercase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor='let submenu of submenus?.value'>
              <p>{{submenu.ParentMenuId}}</p>
              <a class="dropdown-item" *ngIf="submenu.ParentMenuId==menu.menuId" routerLink="{{ submenu.SubMenuName }}">{{ submenu.SubMenuName }}</a> 
            </ng-container>
          </div>
        </li>
      </ng-container>
    </ul>
    <ul *ngIf="!userLoggedIn" class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a>
      <li>
      <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a>
      <li></li>
    </ul>
    <ul *ngIf="userLoggedIn" class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="/logout">Hi {{user}}, Logout</a>
      <li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>