.custom-navbar{
    border-bottom: 1px solid #ccc;
    background: rgba(30,44,75,.79) !important;
}

.custom-navbar .navbar-brand img{
    max-height: 60px;
}

.custom-navbar .nav-item{
    position: relative;
    white-space: nowrap;
    padding: 10px 18px 10px 10px;
    margin-left: 10px;
    transition: .3s;
}

.custom-navbar .nav-link{
    display: block;
    position: relative;
    color: #fff;
    transition: .3s;
    font-size: 15px;
    font-weight: 600;
}